body {
  max-width: 700px;
  margin: auto;
  font-family: Georgia, serif;
  line-height: 1.6;
  padding: 20px;
  background: white;
  color: #111;
}

a { color: #0645AD; }

h1, h2, h3 {
  font-family: Georgia, serif;
  margin-top: 1.4em;
}
